* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Beyno';
    src: url(./assets/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(./assets/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'Wakanda';
    src: url(./assets/WakandaForever-Regular.ttf);
}

body {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}


:root {
    --white-color: #FFFFFF;
    --pink-soft: #F2CEF2;
    --pink-grey: #9E91B7;
    --pink-purple: #DF99F2;
    --purple-color: #3D2DA6;
    --blue-purple: #07338C;
    --blue-navy: #021740;
    --blue: #11213F;
    --black-color: #0B0B0B;
    --blue-color: #021740;
}

 /*All*/
 p, ul {
    color : var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
}

h1, h2 { 
    color: var(--pink-grey);
}

h1 {
    font-family: 'Panthera';
    font-size: 68px;
    font-weight: regular;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Beyno';
    font-size: 32px;
    font-weight: regular;
    padding-bottom: 30px;
}

                                        /*index.html*/
                                        /*Header*/
/*Logo top left*/
nav .logo_nav_left {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 20px;
    padding-left: 170px;
}

/*Logo to left design*/
nav .logo_nav_left img:hover { 
    filter: invert(60%) sepia(15%) saturate(528%) hue-rotate(219deg) brightness(97%) contrast(90%);
}

/*Menu*/
header .menu {
    display: flex;
    justify-content: right;
    padding-right: 170px;
    margin-top: -24px;
    font-family: 'Beyno';
    font-size: 22px;
    gap: 100px;
}

/*Menu bottom design*/
#accueil {
    color: white;
    text-decoration: none;
    z-index: 5;
}

#accueil:hover {
    text-decoration: underline;
}

#wakanda {
    color: white;
    text-decoration: none;
}

#wakanda:hover {
    text-decoration: underline;
}


#enigm {
    color: white;
    text-decoration: none;
}

#enigm:hover {
    text-decoration: underline;
}
       
/*Section in header*/

/*text in first section*/
header section .first-description {
    width: 55%;
    padding-left: 200px;
    margin-top: 200px;
}

.text-first-description, .text-bottom {
    font-family: 'Cantarell';
    font-size: 16px;
    font-weight: regular;
}

.text-first-description {
    text-align: justify;
}

.text-bottom {
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 100px;
}

/*img hero in first section*/
.hero img {
    max-width: 600px;
}

.hero {
    padding-top: 90px;
    padding-bottom: 30px;
}

/*text and img first section*/
.first {
    display: flex;
    align-items: center;
}

                                                 /*Main*/

/*social media in top left of page*/

.in-bar {
    border-left: #9E91B7 2px solid;
    position: fixed;
    top: 0px;
    left: 102px;
    width: 2%;
    height: 35%;
}

.out-bar {
    border-left: #9E91B7 2px solid;
    position: fixed;
    top: 0px;
    left: 75px;
    width: 2%;
    height: 54%;
}

.social-group {
    padding-top: 280px;
    /*padding-right: 750px;*/
}

.social-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}                               /*find solution with this button fixed*/

/*First section in main*/

/*section text and portrait pictures in  description*/
.list {
    background-color: var(--blue-navy);
    height: 250px;
    margin-left: 100px;
}

/*div container text and picture*/
section .container {
    display: flex;
}

/* design of title of text between portrait pictures*/
.container .title-list {
    padding-bottom: 5px;
}

/*design of text between portrait pictures*/
section .container .text-list {
    padding-left: 20px;
}

.text-killmonger, .text-okoye {
    font-weight: regular;
    text-align: justify;
    width: 95%;
    color: var(--white-color);
}

/*Portrait pictures*/
.container .portrait {
    height: 250px;
}
.container {
    display: flex;
    transition-duration: 0.7s;
}
#portrait-list:hover {
    transform: scale(150.25%);
    transition-duration: 0.7s;
}

/*Second section in main*/

/*Container desing in all secon section in main*/
section .paragraph {
    display: flex;
}

/*All paragraph in right position*/
.paragraph .right-section {
    flex-direction: column;
    margin-top: 200px;
}

/*Text paragraph design*/
section .second-container {
    width: 60%;
    text-align: justify;
    padding-left: 30px;
    padding-top: 200px;
    padding-right: 60px;
}

/*citation font*/
.citation {
    font-size: 14px;
    font-weight: regular;
}

/*right section in second section in main*/
/*biography*/
.right-section #portrait-acteur {
    width: 350px;
    position: absolute;
    margin-left: 70px;
}


/*biography in right position*/
section .form {
     background-color: var(--white-color);
     height: 750px;
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: center;
     text-align: justify;
     border-radius: 12px;
     width: 500px;
     padding-bottom: 100px;
     margin-top: 200px;
}

/*Title design in biography*/
.form .form-h3 {
    font-family: 'Cantarell';
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*description in biography*/
section .biography-text {
    color: var(--blue-purple);
    font-size: 16px;
    text-align: justify;
}

/*button in biography*/
section .form .button-form {
    display: flex;
    gap : 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*button design*/
.button-form .button-biography {
    background-color: #3D2DA6;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/*button text*/
.button-form #button-text {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Cantarell';
}

/*part of text in biography*/
.biography-text .death {
    font-size: 14px;
}

/*last pictures in right section*/
.right-section .night-panther {
    padding-top: 250px;
}


/*contact*/

/*background section design*/
.contact {
    background-image: url(./assets/Accueil/Pantherhome7.png);
    padding-top: 200px;
    padding-bottom: 400px;
}

/*text background*/
section .information {
    background-image: linear-gradient(to bottom, #FFF, #f2cef221 );
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 780px;
    height: 550px;
    border-radius: 150px;
    margin: 0 auto;
}

/*title section design*/
section .title-information {
    color:#3D2DA6;
    padding-top: 25px;
    font-size: 14px;
    font-family: 'Cantarell';
}

/*h1 section design*/
section .h1-contact {
    color:#3D2DA6;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Cantarell';
}

/*input and textarea design*/
input[type="name"], input[type="email"] {
    display: block;
    width: 520px;
    height: 56px;
    border: 1px solid #3D2DA6;
    border-radius: 38px;
    background-color: transparent;
    padding: 10px;
    margin-right: 145px;
    margin-left: 65px;
}
                                            /* place hover effect all buttons on formulary*/

textarea {
    display: block;
    width: 520px;
    border: 1px solid #3D2DA6;
    border-radius: 38px;
    background-color: transparent;
    padding: 10px;
    margin-right: 145px;
    margin-left: 65px;
}

/*placehoder design*/
::placeholder {
    color: #3D2DA6;
    font-size: 14px;
    font-family: 'Cantarell';
}

/*send button design*/
.send {
    background-color:#9E91B7;
    font-family: 'Cantarell';
    font-size: 12px;
    font-weight: bold;
    color: #3D2DA6;
    border: none;
    border-radius: 38px;
    width: 174px;
    height: 54px;
}



                                    /*Footer index*/
/*background design*/
footer {
    background: linear-gradient(to bottom, #3d2da6bd 0%, #021740 90.43%) ;
    display: flex;
    justify-content: space-between;
}

/*text design*/

/*footer title*/
h4 {
    font-size: 10px;
    font-family: 'Cantarell';
    color: #FFF;
    text-transform:uppercase;
    letter-spacing: 20px;
}

/*text link*/
footer #propos, #wakanda-footer {
    font-size: 12px;
}

/*this text with hover underline in white*/
#propos:hover {
    text-decoration: underline;
}

#wakanda-footer:hover {
    text-decoration: underline;
}

/*last text*/
footer #conditions-text {
    font-size: 10px;
}

/*footer  design*/

/*left part*/
footer .logo-left-footer {
    display: flex;
    flex-direction:column;
    padding-left: 300px;
    padding-top: 150px;
    padding-bottom: 50px;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.7s;

}

/*hover effect picture around logo left*/
.img-footer:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

/*div selection for hover effect*/
.logo-footer-l {
    transition-duration: 0.7s;
}

/*hover effect logo left footer*/
.icon-footer:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

/*logo left footer*/
footer .logo-footer-l {
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 150px;
}

/*icon left hover*/
footer .icon-footer:hover {
    filter: invert(25%) sepia(57%) saturate(528%) hue-rotate(219deg) brightness(97%) contrast(90%);
}

/*right part*/
footer .footer-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 170px;
    padding-right: 150px;
}

footer .fist-right-footer {
    display: flex;
    gap: 22px;
}

/*pages text footer*/
footer .footer-pages {
    display: flex;
    flex-direction: column;
    padding-right: 22px;
    text-align:left;
}

/*social media icon and text*/
footer .footer-find {
    display: flex;
    flex-direction: column;
}

/*social media icon*/
footer .footer-social {
    display: flex;
    justify-content: space-between;
}

/*hover effect all icon social media in footer*/
.footer-social {
    transition-duration: 0.7s;
}

#social-icon:hover {
    transform :scale(1.1);
    transition-duration: 0.7s;
}

/*last text*/
footer .conditions {
    display: flex;
    padding-top: 170px;
}




                                            /*Wakanda page*/

        /*Main first section design*/

/*text design*/
.section1 h1 {
    font-family: 'Beyno';
    font-size: 68px;
}

.section1 h2 {
    font-family: 'Wakanda';
    font-size: 32px;
}

/*design*/
.section1 {
    background-image: url(./assets/Wakanda/Pantherwakanda1.png);
    background-position: center;
}


.section1 .paragraph1 {
    text-align: justify;
    padding-top: 400px;
    padding-left: 100px;
    padding-bottom: 500px;
}

.section1 p {
    width: 500px;
}

                /*Main second section design*/

/*design left article*/
section .article1 {
    background-image: url(./assets/Wakanda/Pantherwakanda2.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: justify;
    display: flex ;
    padding: 100px 80px;
    gap: 100px;
}

/*width of all div article in main*/
.article-gauche, .article-droit {
    width: 570px;
}

/*video design*/
section .w-video {
    display: flex;
    background-color: #3D2DA6;
    align-items: center;
    justify-content: center;
    height: 220px;
}

/*Wakanda html h2 design*/
.article1 h2 {
    padding-top: 30px;
}

/*padding of the paragraphe above video section*/
section .special-paragraphe {
    padding-bottom: 50px;
}

                            /*Enigm page*/

/*Main first section*/

/*text design*/
.top-section h1 {
    font-family: 'Beyno';
    font-size: 60px;
}

.top-section .okoye-text {
    width: 550px;
    text-align: justify;
}

.top-section p {
    font-size: 14px;
}

/*design*/
.okoye-picture {
    display: flex;
    height: 600px;
}

/*first section container*/
.top-section .okoye-container {
    display: flex;
    gap: 50px;
}

/*paragraph and pictures*/
.top-section .okoye-text-pictures {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

/*h1 first section design*/
.top-section .h1-okoye {
    padding-top: 250px;
    padding-bottom: 75px;
}

.top-section .okoye-paragraph {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
}

.top-section .okoye-paragraph p {
    width: 450px;
}

/*.top-section .illustration {
    position: absolute;
    padding-bottom: 75px;
    padding-top: 100px;
}

.top-section .barre {
    padding-top: 150px;
    padding-bottom: 100px;

}*/

.top-section .illustration {
    position: absolute;
    padding-bottom: 200px;
}

.top-section .barre {
    position: inherit;
    padding-top: 200px;
    margin-right: 160px;
}



/*Main second section*/

/*text design*/
.bottom-section h2 {
    font-family: 'Wakanda';
    font-size: 43px;
    width: 900px;
}

.bottom-section .alphabet {
    font-family: 'Wakanda';
    text-transform: uppercase;
}

.bottom-section .bottom-description {
    text-transform: uppercase;
}

/*design*/
.bottom-section .bottom-okoye {
    display: flex;
}

.bottom-section .bottom-section-left {
    padding-left: 50px;
    width: 50%;
}

.bottom-section .bottom-alphabet {
    width: 545px;
    padding-top: 50px;
    padding-bottom: 150px
}

.bottom-section .bottom-intro {
    padding-bottom: 20px;
}

/*answer section*/
.bottom-section .bottom-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type='text'] {
    display: block;
    width: 520px;
    height: 56px;
    border: 1px solid #9E91B7;
    border-radius: 38px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.bottom-section .answer-place{
    padding-top: 25px;
    padding-bottom: 100px;
}


/*send button*/
.bottom-section .send-button {
    background-color:#9E91B7;
    font-family: 'Cantarell';
    font-size: 12px;
    font-weight: bold;
    color: #3D2DA6;
    border: none;
    border-radius: 38px;
    width: 174px;
    height: 54px;
}

.bottom-section .answer-send {
    padding-bottom: 250px;
    display: flex;
    padding-left: 150px;
}

/*bottom section right part*/

/*text design*/
.bottom-section .bottom-section-right p {
    font-size: 14px;
    text-align: center;
    width: 400px;
}

/*design*/
.bottom-section .bottom-section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.bottom-section .bottom-illustration {
    
}
