* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Beyno';
    src: url(./assets/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(./assets/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'Wakanda';
    src: url(./assets/WakandaForever-Regular.ttf);
}

body {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(./assets/All_pages/arrière_plan.png);
   
}


:root {
    --white-color: #FFFFFF;
    --pink-soft: #F2CEF2;
    --pink-grey: #9E91B7;
    --pink-purple: #DF99F2;
    --purple-color: #3D2DA6;
    --blue-purple: #07338C;
    --blue-navy: #021740;
    --blue: #11213F;
    --black-color: #0B0B0B;
    --blue-color: #021740;
}

 /*All*/
 p, ul {
    color : var(--white-color);
    font-family: 'Cantarell';
    font-size: 16px;
}

h1, h2 { 
    color: var(--pink-grey);
}

h1 {
    font-family: 'Panthera';
    font-size: 68px;
    font-weight: regular;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Beyno';
    font-size: 32px;
    font-weight: regular;
    padding-bottom: 30px;
}

                                        /*index.html*/
                                        /*body*/

/*social media in top left of page*/
.nav-fixed {
    position: fixed;
    top: 0px;
    left: 102px;
    width: 3%;
    height: 54%;
    border-left: #F2CEF2 2px solid;
    display: flex;
    align-items:flex-end;
    justify-content: center;


}

.nav-fixed .in-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.nav-fixed .in-bar .out-bar {
    border-left: #F2CEF2 2px solid;
    width: 2px;
    height: 100%;
    margin: auto;
}

.nav-fixed .in-bar .social-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.nav-fixed .in-bar .social-group a:hover {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(123deg) brightness(250%) contrast(103%);

}
                                        /*Header*/

                                
/*Logo sayna and others top left*/
nav .logo_nav_left {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 20px;
    padding-left: 170px;
}


nav .logo_nav_left img:hover { 
    filter: invert(60%) sepia(15%) saturate(528%) hue-rotate(219deg) brightness(97%) contrast(90%);
}

/*Menu top rigth*/
header .menu {
    display: flex;
    justify-content: right;
    padding-right: 170px;
    margin-top: -24px;
    font-family: 'Beyno';
    font-size: 22px;
    gap: 100px;
}

/*Menu bottom design*/
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}

.menu a:active, menu a:focus {
    color: #9E91B7;
    text-decoration: underline; 
}

/*Section in header*/

/*text in first section*/

/*text and img first section*/
header .first {
    display: flex;
    align-items: center;
}

header section .first-description {
    width: 55%;
    padding-left: 200px;
    margin-top: 200px;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.text-first-description, .text-bottom {
    font-family: 'Cantarell';
    font-size: 16px;
    font-weight: regular;
}

header section .first-description .text-first-description {
    text-align: justify;
}

/*All text-bottom voir plus*/
.text-bottom {
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 100px;
}

/*img hero in first section*/
section .hero {
    padding-top: 90px;
    padding-bottom: 30px;
}

section .hero img {
    max-width: 600px;
}


                                                 /*Main*/


/*First section in main*/

/*section text and portrait pictures in  description*/
main .list {
    background-color: var(--blue-navy);
    height: 250px;
    margin-left: 100px;
}

/*div container text and picture*/
section .container {
    display: flex;
}

/* design of title of text between portrait pictures*/
section .container .title-list {
    padding-bottom: 5px;
}

/*design of text between portrait pictures*/
section .container .text-list {
    padding-left: 20px;
}

section .container .text-list .text-killmonger, .text-okoye {
    font-weight: regular;
    text-align: justify;
    width: 95%;
    color: var(--white-color);
}

/*Portrait pictures*/
section .container .portrait {
    height: 250px;
}
section .container {
    display: flex;
    transition-duration: 0.7s;
}

section .container #portrait-list:hover {
    transform: scale(150.25%);
    transition-duration: 0.7s;
}

/*Second section in main*/
section .paragraph {
    padding: 20px 125px 20px 125px;
}

/*Text paragraph design*/
section .paragraph .second-container {
    width: 60%;
    text-align: justify;
    padding-left: 30px;
    padding-top: 200px;
    padding-right: 60px;
}

/*citation font*/
section .paragraph .second-container .citation {
    font-size: 14px;
    font-weight: regular;
}

section .paragraph .second-container ul li {
    list-style:inside'-';
}

/*Container desing in all second section in main*/
section .paragraph {
    display: flex;
}


/*right section in second section in main*/

/*All paragraph in right position*/
section .paragraph .right-section {
    flex-direction: column;
    margin-top: 200px;
}

/*biography*/
section .paragraph .right-section #portrait-acteur {
    width: 350px;
    position: absolute;
    margin-left: 70px;
}


/*biography in right position*/
section .paragraph .right-section .form {
     background-color: var(--white-color);
     height: 750px;
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: center;
     text-align: justify;
     border-radius: 12px;
     width: 500px;
     padding-bottom: 100px;
     margin-top: 200px;
}

/*Title design in biography*/
section .paragraph .right-section .form .form-h3 {
    font-family: 'Cantarell';
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*description in biography*/
section .paragraph .right-section .form .biography .biography-text {
    color: var(--blue-purple);
    font-size: 16px;
    text-align: justify;
}

/*button in biography*/
section .paragraph .right-section .form .button-form {
    display: flex;
    gap : 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*button design*/
section .paragraph .right-section .form .button-form .button-biography {
    background-color: #3D2DA6;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/*button text*/
section .paragraph .right-section .form .button-form #button-text {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Cantarell';
}

/*part of text in biography*/
section .paragraph .right-section .form .biography .biography-text .death {
    font-size: 14px;
}

/*last pictures in right section*/
section .paragraph .right-section .night-panther {
    padding-top: 600px;
}


/*contact*/

/*background section design*/
main .contact {
    background-image: url(./assets/Accueil/Pantherhome7.png);
    padding-top: 200px;
    padding-bottom: 400px;
}

/*text background*/
section .information {
    background-image: linear-gradient(to bottom, #FFF, #f2cef221 );
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 780px;
    height: 550px;
    border-radius: 150px;
    margin: 0 auto;
}

/*title section design*/
section .information .title-information {
    color:#3D2DA6;
    padding-top: 25px;
    font-size: 14px;
    font-family: 'Cantarell';
}

/*h1 section design*/
section .information .h1-contact {
    color:#3D2DA6;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Cantarell';
}

/*input and textarea design*/
section .information .formulary .place input[type="name"], input[type="email"] {
    display: block;
    width: 520px;
    height: 56px;
    border: 1px solid #3D2DA6;
    border-radius: 38px;
    background-color: transparent;
    padding: 10px;
}

section .information .formulary .place input[type="name"]:hover {
    box-shadow: 0px 0px 20px 0px #3D2DA6;
}

section .information .formulary .place input[type="email"]:hover {
    box-shadow: 0px 0px 20px 0px #3D2DA6;
}


section .information .formulary .place textarea {
    display: block;
    width: 520px;
    border: 1px solid #3D2DA6;
    border-radius: 38px;
    background-color: transparent;
    padding: 10px;
}

section .information .formulary .place textarea:hover {
    box-shadow: 0px 0px 20px 0px #3D2DA6;
}

/*placehoder design*/
::placeholder {
    color: #3D2DA6;
    font-size: 14px;
    font-family: 'Cantarell';
}

/*send button design*/
section .information #send-button .send {
    background-color:#9E91B7;
    font-family: 'Cantarell';
    font-size: 12px;
    font-weight: bold;
    color: #3D2DA6;
    border: none;
    border-radius: 38px;
    width: 174px;
    height: 54px;
}

section .information #send-button input[type='submit']:hover {
    box-shadow: 0px 0px 20px 0px #021740;
}


                                    /*Footer index*/
/*background design*/
footer {
    background: linear-gradient(to bottom, #3d2da6bd 0%, #021740 90.43%) ;
    background-image: url(./assets/All_pages/back_footer.png);
    display: flex;
    justify-content: space-between;
}

/*text design*/

/*footer title*/
footer .footer-right .fist-right-footer h4 {
    font-size: 10px;
    font-family: 'Cantarell';
    color: #FFF;
    text-transform:uppercase;
    letter-spacing: 20px;
}

/*text link*/
footer .footer-right .fist-right-footer .footer-pages #propos, #wakanda-footer {
    font-size: 12px;
}

/*this text with hover underline in white*/
footer .footer-right .fist-right-footer .footer-pages #propos:hover {
    text-decoration: underline;
}

footer .footer-right .fist-right-footer .footer-pages #wakanda-footer:hover {
    text-decoration: underline;
}

/*last text*/
footer .footer-right #conditions-text {
    font-size: 10px;
}

/*footer  design*/

/*left part*/
footer .logo-left-footer {
    display: flex;
    flex-direction:column;
    padding-left: 300px;
    padding-top: 150px;
    padding-bottom: 50px;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.7s;

}

/*hover effect picture around logo left*/
footer .logo-left-footer .img-footer:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

/*logo left footer*/
footer .logo-left-footer .logo-footer-l {
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 150px;
}

/*div selection for hover effect*/
footer .logo-left-footer .logo-footer-l {
    transition-duration: 0.7s;
}

/*hover effect logo left footer*/
footer .logo-left-footer .logo-footer-l .icon-footer:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

/*icon left hover*/
footer .logo-left-footer .logo-footer-l .icon-footer:hover {
    filter: invert(25%) sepia(57%) saturate(528%) hue-rotate(219deg) brightness(97%) contrast(90%);
}

/*right part*/
footer .footer-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 170px;
    padding-right: 150px;
}

footer .footer-right .fist-right-footer {
    display: flex;
    gap: 22px;
}

/*pages text footer*/
footer .footer-right .fist-right-footer .footer-pages {
    display: flex;
    flex-direction: column;
    padding-right: 22px;
    text-align:left;
}

/*social media icon and text*/
footer .footer-right .fist-right-footer .footer-find {
    display: flex;
    flex-direction: column;
}

/*social media icon*/
footer .footer-right .fist-right-footer .footer-find .footer-social {
    display: flex;
    justify-content: space-between;
}

/*hover effect all icon social media in footer*/
footer .footer-right .fist-right-footer .footer-find .footer-social {
    transition-duration: 0.7s;
}

footer .footer-right .fist-right-footer .footer-find .footer-social #social-icon:hover {
    transform :scale(1.1);
    transition-duration: 0.7s;
}

/*last text*/
footer .footer-right .conditions {
    display: flex;
    padding-top: 170px;
}




                                            /*Wakanda page*/

        /*Main first section design*/

/*text design*/
.section1 .paragraph1 h1 {
    font-family: 'Beyno';
    font-size: 68px;
}

.section1 .paragraph1 h2 {
    font-family: 'Wakanda';
    font-size: 32px;
}

/*design*/
.section1 {
    background-image: url(./assets/Wakanda/Pantherwakanda1.png);
    background-position: center;
}


.section1 .paragraph1 {
    text-align: justify;
    padding-top: 400px;
    padding-left: 100px;
    padding-bottom: 500px;
}

.section1 .paragraph1 p {
    width: 500px;
}

                /*Main second section design*/

/*design left article*/
section .article1 {
    background-image: url(./assets/Wakanda/Pantherwakanda2.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: justify;
    display: flex ;
    padding: 100px 80px;
    gap: 100px;
}

/*width of all div article in main*/
section .article1 .article-gauche, .article-droit {
    width: 570px;
}

/*video design*/
section .article1 .article-gauche .w-video {
    display: flex;
    background-color: #3D2DA6;
    align-items: center;
    justify-content: center;
    height: 220px;
}

/*li style*/
section .article1 ul li {
    list-style: inside'-';
}
/*Wakanda html h2 design*/
section .article1 h2 {
    padding-top: 30px;
}

/*padding of the paragraphe above video section*/
section .article1 .article-gauche .special-paragraphe {
    padding-bottom: 50px;
}

                            /*Enigm page*/

/*Main first section*/

/*text design*/
.top-section .okoye-container .okoye-text-pictures .okoye-text .h1-okoye h1 {
    font-family: 'Beyno';
    font-size: 32px;
}

.top-section .okoye-container .okoye-text-pictures .okoye-text {
    max-width: 550px;
    text-align: justify;
}

.top-section .okoye-container .okoye-text-pictures .okoye-text .okoye-paragraph p {
    font-size: 14px;
}

/*design*/

/*all section container*/
.top-section {
    /*display: flex;*/
    width: 100%;
    padding: 200px 0 0 0;
    overflow: hidden;
    background-image: url(./assets/Enigme/Pantherenigme1.png);
    background-size:60%;
    background-position: left;
    background-repeat: no-repeat;
}

/*first section container*/
.top-section .okoye-container {
    width: 100%;
    display: flex;
}

/*div with no picture*/
.top-section .okoye-container .okoye-picture {
    width: 50%;
}

/*paragraph and pictures*/
.top-section .okoye-container .okoye-text-pictures {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

/*h1 first section design*/
.top-section .okoye-container .okoye-text-pictures .okoye-text .h1-okoye {
    /*padding-top: 250px;*/
    padding-bottom: 75px;
}

.top-section .okoye-container .okoye-text-pictures .okoye-text .okoye-paragraph {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
}

.top-section .okoye-container .okoye-text-pictures .okoye-text .okoye-paragraph p {
    max-width: 450px;
}


.top-section .okoye-container .okoye-text-pictures .okoye-text .okoye-paragraph .illustration {
    position: absolute;
    padding-bottom: 200px;
}
.top-section .okoye-container .okoye-text-pictures .okoye-text .okoye-paragraph .illustration img {
    width: auto;
    right: 0;
}

.top-section .okoye-container .okoye-text-pictures .okoye-text .okoye-paragraph .barre {
    position: inherit;
    padding-top: 200px;
    overflow: hidden;
}

/*Main second section*/

/*text design*/
.bottom-section h2 {
    font-family: 'Wakanda';
    font-size: 43px;
    width: 900px;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-alphabet .bottom-description {
    text-transform: uppercase;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-alphabet .alphabet {
    font-family: 'Wakanda';
    text-transform: uppercase;
}

/*design*/
.bottom-section {
    width: 100%;
    padding: 50px 75px 250px 75px;
}
.bottom-section .bottom-okoye {
    display: flex;
    width: 100%;
}

.bottom-section .bottom-okoye .bottom-section-left {
    width: 50%;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-alphabet {
    width: 545px;
    padding-top: 50px;
    padding-bottom: 150px
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-alphabet .bottom-intro {
    padding-bottom: 20px;
}

/*answer section*/
.bottom-section .bottom-okoye .bottom-section-left .bottom-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-answer input[type='text'] {
    display: block;
    width: 520px;
    height: 56px;
    border: 1px solid #9E91B7;
    border-radius: 38px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-answer .answer-place{
    padding-top: 25px;
    padding-bottom: 100px;
}


/*send button*/
.bottom-section .bottom-okoye .bottom-section-left .bottom-answer .send-button {
    background-color:#9E91B7;
    font-family: 'Cantarell';
    font-size: 12px;
    font-weight: bold;
    color: #3D2DA6;
    border: none;
    border-radius: 38px;
    width: 174px;
    height: 54px;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-answer .send-button:hover {
    box-shadow: 0px 0px 20px 0px #F2CEF2;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-answer .answer-place input::placeholder {
    color:#F2CEF2;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-answer .answer-place input:hover {
    box-shadow: 0px 0px 20px 0px #F2CEF2;
}

.bottom-section .bottom-okoye .bottom-section-left .bottom-answer .answer-send {
    display: flex;
    padding-left: 150px;
}

/*bottom section right part*/

/*text design*/
.bottom-section .bottom-okoye .bottom-section-right .text-right{
    position: absolute;
    font-size: 14px;
    text-align: center;
    width: 400px;
}

/*design*/
.bottom-section .bottom-okoye .bottom-section-right {
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-right: 75px;

}

.bottom-section .bottom-okoye .bottom-section-right .bottom-illustration img{
    /*position: absolute;*/
    width: auto;
}
